@import "tailwindcss";

/* Base font for whole app */
@layer base {
  body {
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--primary-bg);
  }
   :root {
    --primary-bg: #f6eaea;     
    --primary-color: #a63128;  
  }
}

@layer components {
  .login-box {
    @apply w-[400px] bg-white rounded-[18px] p-12 border border-red-600 ml-[-10px] mb-8;
  }

  .input {
    @apply w-full px-4 py-3 rounded-[10px] border border-red-600 bg-[#F7F9FC] text-base outline-none;
  }

  .label {
    @apply block mb-2 text-base font-semibold;
  }



/*header*/
  .header {
    @apply bg-white h-[76px] flex justify-between items-center
           border-b border-gray-200 shadow-sm px-6;
  }

  .header-left {
    @apply flex items-center gap-6;
  }

  .menu-icon {
    @apply w-[18px] h-[18px] cursor-pointer;
  }

  .header-logo {
    @apply h-10 object-contain;
  }

  .header-right {
    @apply flex items-center gap-4;
  }

  .settings-icon {
    @apply text-gray-700 hover:text-[#B73E3E] transition;
  }

  .profile-box {
    @apply flex items-center gap-3 bg-white border border-gray-200
           h-[60px] px-4 w-[227px] rounded cursor-pointer;
  }

  .user-icon {
    @apply h-10 object-contain;
  }

  .dropdown {
    @apply absolute right-0 mt-2 w-[230px] bg-white
           border border-gray-400 rounded-md shadow-lg z-[9999];
  }

  .dropdown-item {
    @apply block px-3 py-2 text-sm text-gray-700
           border-b border-gray-200 last:border-none
           hover:bg-[#A63128] hover:text-white transition;
  }
/*layout*/
@layer components {
  .main-content {
    @apply h-full w-full overflow-auto transition-all duration-300 
           bg-[var(--primary-bg)];
  }

  .main-with-sidebar {
    @apply ml-[240px] w-[calc(100%-240px)];
  }

  .main-full {
    @apply ml-0 w-full;
  }
}

}








@layer utilities {
  .bg-primary {
    background-color: #a63028;
  }

  .text-primary {
    color: #a63028;
  }

  .accent-primary {
    accent-color: #a63028;
  }
}
  /* page  */
  .page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f5f5f5;
  }
  .content-wrapper {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  .main-section {
    flex: 1;
    overflow: auto;
    padding: 24px;
    background-color: #F3E8E8;
  }
  .content-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 32px;
    max-width: 1280px;
    margin: 0 auto;
    margin-Bottom: 10px;
  }
  .page-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 24px;
    color: #111827;
  }
  /* Section Title */
  .section-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #111827;
  }

  
  /* fields */
  .filter-section {
    margin-bottom: 32px;
  }
  .filter-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
  .multiline-field{
     width: 100%; 
     padding: 1px 1px; 
     font-Size: 16px; 
     border: none; 
     border-Radius: 4px; 
     outline: none; 
     font-Family: inherit;
     resize: none;
     min-Height: 24px;
     line-Height: 20px;
     overflow: hidden;
  }
  .filter-grid-red {
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #9CA3AF;
    border-right: 3px solid #DC2626;
    position: relative;
  }
   .filter-grid-green {
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #9CA3AF;
    border-right: 3px solid #22C55E;
    position: relative;
  }
   .filter-grid-blue {
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #9CA3AF;
    border-right: 3px solid #22C55E;
    position: relative;
  }
  .filter-label {
    display: block;
    font-size: 16px;
    color: #374151;
    margin-bottom: 8px;
    font-weight: 600;
  }
  .filter-input {
    width: 100%;
    padding: 1px;
    border: none;
    outline: none;
    font-size: 14px;
  }


  /* Buttons */
  .btn-container {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    padding-right: 8px;
    margin-right: 116px;
  } 
  .btn-search,
  .btn-all {
    width: 150px !important;
    height: 50px !important;
    padding: 10px 24px !important;
    background: #A63128 !important;
    color: white !important;
    border-radius: 15px !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    border: none !important;
    cursor: pointer !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 8px !important;
    box-shadow: 0 4px 12px rgba(166, 49, 40, 0.3) !important;
    transition: all 0.2s ease !important;
  } 
  .btn-search:hover,
  .btn-all:hover {
    background: linear-gradient(135deg, #A63128 0%, #DC2626 100%) !important;
    transform: scale(1.02) !important;
    box-shadow: 0 6px 20px rgba(166, 49, 40, 0.4) !important;
  }
  .btn-hold {
    padding: 8px 12px !important;
    background: #e86e17 !important;
    color: white !important;
    border-radius: 4px !important;
    font-size: 14px !important;
    cursor: pointer !important;
  } 
  .btn-hold:hover {
    background: #ea580c !important;
  } 
  .btn-quotation {
    padding: 8px 12px !important;
    background: #5d17e8 !important;
    color: white !important;
    border-radius: 4px !important;
    font-size: 14px !important;
    cursor: pointer !important;
  } 
  .btn-quotation:hover {
    background: #7c3aed !important;
  } 
  .btn-advance {
  padding: 6px 14px;
  border-radius: 4px;
  border: none;
  background-color: #A63128;
  color: white;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease;
  }
  .btn-advance:hover {
  background-color: #8B2820;
  }
  .btn-action {
    padding: 4px !important;
    background: none !important;
    border-radius: 4px !important;
    cursor: pointer !important;
  } 
  .btn-action:hover {
    background: #f3f4f6 !important;
  }


  /* master Table Styles */
.master-table-container {
  border: 1px solid #9CA3AF;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 12px;
}

.master-table-header {
  background-color: #fde2e2;
  padding: 10px 16px;
  border-bottom: 1px solid #9CA3AF;
}

.master-table-title {
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.master-table-body {
  background-color: white;
}

.master-table-row {
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f3f4f6;
  gap: 12px;
}

.master-table-row:last-child {
  border-bottom: none;
}

.master-table-content {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
}
.master-edit-input {
  flex: 1;
  padding: 4px 8px;
  border: 1px solid #9CA3AF;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  background-color: white;
}
.master-name-text {
  font-size: 14px;
  color: #111827;
}

  /* Dropdown */
  .dropdown-wrapper {
    position: relative;
  }
  .dropdown-input {
    width: 100%;
    padding: 1px;
    border: none;
    border-radius: 4px;
    font-weight: normal;
    outline: none;
    background-color: white;
    cursor: text;
    font-size: 14px;
  }
  .dropdown-icon {
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    color: black;
    pointer-events: none;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 4px;
    background-color: white;
    border: 1px solid #D1D5DB;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-height: 208px;
    overflow-y: auto;
    z-index: 1000;
  }
  .dropdown-item-option {
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease;
    border-bottom: 1px solid #E5E7EB;
  }
  .dropdown-item-option:last-child {
    border-bottom: none;
  }
  .dropdown-item-hovered {
    color: white;
    background-color: #A63128;
  }
  .dropdown-item-selected {
    background-color: #FEE2E2;
  }
  .dropdown-item-default {
    color: #374151;
    background-color: white;
  }
  .dropdown-item-default:hover {
    background-color: #f9fafb;
  }
  .dropdown-no-matches {
  padding: 8px 12px;
  font-size: 14px;
  color: #9CA3AF;
  text-align: center;
  font-style: italic;
}

/* Tabs */
.tabs-container {
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
}
.tab-button {
  flex: 1;
  padding: 12px;
  border: 1px solid #ddd;
  background: #f3f4f6;
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}
.tab-button:first-child {
  border-top-left-radius: 4px;
}
.tab-button:last-child {
  border-top-right-radius: 4px;
  border-left: none;
}
.tab-button-active {
  background: #fff;
  font-weight: 600;
}
.tab-button:hover:not(.tab-button-active) {
  background: #e5e7eb;
}

/* Radio Buttons */
.radio-group {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}
.radio-option {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.radio-input {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.radio-label {
  font-size: 14px;
  color: #374151;
  cursor: pointer;
  user-select: none;
}


/* Admin Login page only */
.admin-login-page {
  background-color: #ffffff;
  min-height: 100vh;
}

/* Optional reset */
body {
  margin: 0;
}
/* PAGE WRAPPER */
.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN CONTAINER */
.login-container {
  max-width: 1400px;
  width: 100%;
  display: flex;
  gap: 80px;
  align-items: center;
  justify-content: center;
}

/* LEFT SECTION */
.login-left {
  text-align: center;
}

.logo {
  width: 230px;
}

.title {
  font-size: 28px;
  margin: 12px 0;
}

.login-image {
  width: 480px;
  margin-top: 10px;
}

/* RIGHT CARD */
.login-card {
  width: 420px;
  padding: 45px;
  border: 1px solid red;
  border-radius: 18px;
  background: #fff;
}

.login-card h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 8px;
}

.login-card p {
  text-align: center;
  margin-bottom: 30px;
  opacity: 0.7;
}

/* FORM */
.form-group {
  margin-bottom: 22px;
}

.form-group label {
  font-weight: 600;
}

.form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 10px;
  border: 1px solid red;
  background: #f7f9fc;
  font-size: 16px;
}

/* PASSWORD */
.password-box {
  position: relative;
}

.eye-icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* OPTIONS FIX  */
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
}

.remember {
  font-size: 14px;
}

.forgot {
  font-size: 14px;
  color: #a63028;
  font-weight: 600;
  cursor: pointer;
}

/* BUTTON FIX */
.login-btn {
  width: 100%;
  padding: 14px;
  border-radius: 12px;
  border: none;
  background: #a63028;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

  
  /* Table */
  .table-container {
    overflow-x: auto;
    border-radius: 4px;
    border: 1px solid #d1d5db;
    margin-bottom: 24px;
  }
  .data-table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
  }
  .table-header {
    background-color: #fde2e2;
  }
  .table-th {
    padding: 8px;
    text-align: left;
    font-weight: bold;
    color: #000000;
    border-bottom: 2px solid #D1D5DB;
  }
  .table-th-center {
    padding: 8px;
    text-align: center;
    font-weight: bold;
    color: #000000;
    border-bottom: 2px solid #D1D5DB;
  }
  .table-row {
    border-bottom: 1px solid #e5e7eb;
    transition: background-color 0.2s ease;
  }
  .table-row:hover {
    background-color: #f8f9fb; 
  }
  .table-cell {
    padding: 14px 16px;
    color: #374151;
  }
  .table-cell-center {
    padding: 14px 8px;
    text-align: center;
  }
  .table-actions {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  .no-data-cell {
    padding: 32px;
    text-align: center;
    color: #6b7280;
  }


   /* Pagination */
  .pagination-container {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-bottom: 32px;
  }
  .pagination-btn {
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #d1d5db;
    transition: all 0.2s ease;
  }
  .pagination-btn-disabled {
    background-color: #e5e7eb;
    cursor: not-allowed;
  }
  .pagination-btn-active {
    background-color: white;
    cursor: pointer;
  }
  .pagination-btn-active:hover {
    background-color: #f9fafb;
  }
  .pagination-page-btn {
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid #d1d5db;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.2s ease;
  }
  .pagination-page-active {
    background-color: #A63128;
    color: white;
  }
  .pagination-page-active:hover {
    background-color: #b91c1c;
  }
  .pagination-page-inactive {
    background-color: white;
    color: black;
    cursor: pointer;
  }
  .pagination-page-inactive:hover {
    background-color: #f9fafb;
  }


  /* Footer */
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn-back {
    display: flex !important;
    align-items: center !important;
    gap: 8px !important;
    padding: 8px 20px !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    color: #B91C1C !important;
    border: 2px solid #B91C1C !important;
    border-radius: 4px !important;
    background: white !important;
    cursor: pointer !important;
    transition: all 0.2s ease !important;
  }
  .btn-back:hover {
    background: #fef2f2 !important;
  }
  /* 🌙 DARK MODE (PURE BLACK) */
  .dark {
    --primary-bg: #0b0b0b;     /* page background - black */
    --primary-color: #f3f4f6;

    --card-bg: #121212;       /* card / header bg */
    --text-color: #f3f4f6;    /* white text */
    --border-color: #2a2a2a;  /* dark border */
  }

  body {
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--primary-bg);
    color: var(--text-color);
    margin: 0;
  
}